"arc-extension/\narc-backend/\narc-web-dashboard/" 
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
env/
.venv/

# Django stuff
*.sqlite3
db.sqlite3
*.log

# VS Code
.vscode/

#npm
node_modules

.env
.env.development
.env.production